* {
  font-family: sans-serif;
  color: #fff;
  transition: 0.3s;
}

body {
  background-color: #121824;
  overflow-x: hidden;
  margin: 0;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3.3rem;
}

p {
  font-size: 1.25rem;
  color: #818896;
}

.hero img {
  max-height: 400px;
  max-width: 100%;
  margin-right: 8%;
}

.hero {
  min-height: 100vh;
  padding: 80px 20px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.heroInfo {
  max-width: 600px;
}

.hero h1 {
  margin-bottom: -15px;
}

.hero p {
  margin-bottom: 15px;
  width: 100%;
}

.navBar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: #818896;
  margin-left: 15px;
  font-size: 1.3rem;
}

.nav i {
  color: #818896;
}

.nav a:hover {
  color: #6c63ff;
}

.nav a:hover i {
  color: #6c63ff;
}

.highlight {
  color: #6c63ff;
}

.navBar h1 {
  margin-left: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.nav {
  margin-right: 20px;
}

.hero button {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 5px;
}

.primaryButton {
  background-color: #6c63ff;
  margin-right: 15px;
}

.primaryButton:hover {
  background-color: #4b42ff;
}

.secondaryButton {
  background-color: #1c2430;
  color: #818896;
}

.secondaryButton:hover {
  background-color: #182231;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 20px;
}

@media (max-width: 1500px) {
  .hero img {
    margin-right: 20px;
  }
}

@media (max-width: 1130px) {
  .hero {
    margin: 0;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
  }

  .heroInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero img {
    margin-right: 0;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .hero button {
    margin: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .navBar {
    height: fit-content;
    background-color: #1c2430;
  }
  .navBar h1 .highlight {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .nav {
    display: none;
  }

  .navBar .hamburger {
    position: absolute;
    top: 20px;
    right: 0;
  }

  .navBar.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .nav a {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }

  .hero {
    padding-top: 120px;
  }
}
